<!--<p>recipes works!</p>-->
<!--<h2>{{ recipe.name | uppercase }} Details</h2>-->
<!--
<div><span>id: </span>{{recipe.id}}</div>
<div><span>name: </span>{{recipe.name}}</div>
-->
<!-- <div>
    <label for="name">Recipe name: </label>
    <input id="name" [(ngModel)]="recipe.name" placeholder="name">
</div> -->
<!-- <h2>My Recipes</h2>
<ul class="recipes">
  <li *ngFor="let recipe of recipes">
    <button [class.selected]="recipe === selectedRecipe" type="button" (click)="onSelect(recipe)">
      <span class="id">{{recipe.id}}</span>
      <span class="name">{{recipe.name}}</span>
    </button>
  </li>
</ul> -->
<h2>My Recipes</h2>

<ul class="recipes">
  <li *ngFor="let recipe of recipes">
    <a routerLink="/detail/{{recipe.id}}">
      <span class="id">{{recipe.id}}</span> {{recipe.name}}      
    </a>
    <button type="button" class="delete" title="delete recipe"
      (click)="delete(recipe)">x</button>
  </li>

</ul>

<div>
  <label for="new-recipe">Recipe name: </label>
  <input id="new-recipe" #recipeName />

  <!-- (click) passes input value to add() and then clears the input -->
  <button type="button" class="add-button" (click)="add(recipeName.value); recipeName.value=''">
    Add recipe
  </button>
</div>

<!-- <app-recipe-detail [recipe]="selectedRecipe"></app-recipe-detail> -->

<!-- <div *ngIf="selectedRecipe">
  <h2>{{selectedRecipe.name | uppercase}} Details</h2>
  <div>id: {{selectedRecipe.id}}</div>
  <div>
    <label for="recipe-name">Recipe name: </label>
    <input id="recipe-name" [(ngModel)]="selectedRecipe.name" placeholder="name">
  </div>
</div> -->
